{% from "components/_picture.html" import picture %}
{% from "components/_contact-form.html" import contactForm %}

<!DOCTYPE html>
<html lang="ru">
<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  {# TODO remove when deploy on production #}
  <meta name="robots" content="noindex">
  {# END TODO #}

  <title>{{ title }}</title>

  <link rel="stylesheet" href="css/styles.css">
</head>
<body>
  {% block content %}{% endblock %}

  <script src="js/vendor/jquery-3.4.1.min.js"></script>
  <script src="js/vendor/ofi.min.js"></script>
  <script src="js/vendor/slick.min.js"></script>
  <script src="js/vendor/bootstrap.min.js"></script>
  <script src="js/vendor/fotorama.js"></script>
  <script src="js/scripts.js"></script>
</body>
</html>