{% set advantages = [
  {
    title: 'Невысокая стоимость',
    desc: 'Например, дом из бруса, построенный по идентичному проекту будет стоить 3 млн., а каркасный — 1 млн.'
  },
  {
    title: 'Быстрое строительство',
    desc: 'На производство <a href="#">домокомплекта</a> и монтаж мансардного дома требуется, примерно 30 дней'
  },
  {
    title: 'Тепло и комфорт',
    desc: 'Гибкое использование системы отопления только в помещениях, которые в этом нуждаются, повышает комфорт и экономит деньги'
  },
  {
    title: 'Экологическая безопасность',
    desc: 'Деревянный каркас и основные элементы дома — продукты переработки натурального сырья, что являются безопасными для вас и ваших детей'
  },
  {
    title: 'Всесезонность строительства',
    desc: 'Дом можно возводить даже при температуре до -15°C, ведь для каркасной технологии нет «строительного сезона»'
  },
  {
    title: 'Сейсмоустойчивость',
    desc: 'Каркасные дома выдерживают колебания до 9-ти балов. Именно поэтому они распространены в Японии'
  }
] %}

<section class="section advantages">
  <div class="container">
    <h2 class="section__heading">Почему именно каркасный дом?</h2>

    <ul class="list-unstyled row advantages__list">
      {% for item in advantages %}
        <li class="col media advantages__item">
          <img src="img/ui/check.png" class="mr-3" alt="Галочка">
          <div class="media-body">
            <h5 class="mt-0 mb-1">{{ item.title }}</h5>
            {{ item.desc }}
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</section>