<section class="section construction">
  <div class="construction__bg"></div>

  <div class="container">
    <h2 class="section__heading">Благодаря собственному производству наши дома собираются как «раз, два, три»</h2>

    <div class="row">
      <div class="col">
        <div class="media">
          <img src="img/content/construction/frame.png" class="mr-3" alt="Каркас">
          <div class="media-body">
            На производстве изготавливаем домокомплект 
          </div>
        </div>
        <p>Каждая деталь дома напиливается в размер, торцуется, нумеруется, подписывается. На участок прибывает, некий, конструктор</p>
        <div class="media">
          <img src="img/ui/info.png" class="mr-3" alt="Инфо">
          <div class="media-body">
            Это не пилорама и не иллюзорное производство. У нас собственные производственные мощности, склады, столярные цеха и покрасочные камеры
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card">
          <div class="card-body">
            <p>За счет этого</p>

            <ol class="list-unstyled numbered-list">
              <li>
                Исключаются ошибки и человеческий фактор
              </li>
              <li>
                Бригада работает строго по проекту, используя готовый домокомплект
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>