<section class="section faq">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2 class="section__heading">Когда сомневаются, у нас обычно спрашивают</h2>

        <div class="accordion" id="accordionFaq">
          <div class="card">
            <div class="card-header" id="faq1">
              <h2 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#faq-answer1" aria-expanded="true" aria-controls="faq-answer1">
                  Что делать, если у меня нет разрешения на строительство
                </button>
              </h2>
            </div>

            <div id="faq-answer1" class="collapse show" aria-labelledby="faq1" data-parent="#accordionFaq">
              <div class="card-body">
                Наши менеджеры могут вас бесплатно проконсультировать и помочь решить любую проблему по строительству
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="faq2">
              <h2 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#faq-answer2" aria-expanded="false" aria-controls="faq-answer2">
                  Можно купить в кредит?
                </button>
              </h2>
            </div>

            <div id="faq-answer2" class="collapse" aria-labelledby="faq2" data-parent="#accordionFaq">
              <div class="card-body">
                Наши менеджеры могут вас бесплатно проконсультировать и помочь решить любую проблему по строительству
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="faq3">
              <h2 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#faq-answer3" aria-expanded="false" aria-controls="faq-answer3">
                  Хочу уникальный проект. Это возможно?
                </button>
              </h2>
            </div>

            <div id="faq-answer3" class="collapse" aria-labelledby="faq3" data-parent="#accordionFaq">
              <div class="card-body">
                Наши менеджеры могут вас бесплатно проконсультировать и помочь решить любую проблему по строительству
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="faq4">
              <h2 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#faq-answer4" aria-expanded="false" aria-controls="faq-answer4">
                  У нас ограничен бюджет, а дом хотим. Что делать?
                </button>
              </h2>
            </div>

            <div id="faq-answer4" class="collapse" aria-labelledby="faq4" data-parent="#accordionFaq">
              <div class="card-body">
                Наши менеджеры могут вас бесплатно проконсультировать и помочь решить любую проблему по строительству
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="faq5">
              <h2 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#faq-answer5" aria-expanded="false" aria-controls="faq-answer5">
                  Мне лучше брусовой или каркасный дом покупать?
                </button>
              </h2>
            </div>

            <div id="faq-answer5" class="collapse" aria-labelledby="faq5" data-parent="#accordionFaq">
              <div class="card-body">
                Наши менеджеры могут вас бесплатно проконсультировать и помочь решить любую проблему по строительству
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        {{ contactForm() }}
      </div>
    </div>
  </div>
</section>