<div class="footer section">
  <div class="footer__bg"></div>

  <div class="container">
    <div class="card">
      <h2 class="section__heading">Запишитесь на просмотр готовых проектов</h2>
      <p>И посмотрите вживую наши дома. Вы лично убедитесь в качестве нашей работы, а также обсудить все вопросы с менеджером </p>

      <div class="row">
        <div class="col">
          <p>Наш офис находится по адресу</p>

          <div class="row">
            <div class="col media">
              <img src="img/ui/marker.png" class="mr-3" alt="Адрес">
              <div class="media-body">
                Москва, МКАД 65 км, ТД Синдика, д. 3/8
              </div>
            </div>

            <div class="col media">
              <img src="img/ui/phone.png" class="mr-3" alt="Телефон">
              <div class="media-body">
                +7 989 333-45-44
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <button class="btn btn-primary btn-lg btn-block">Записаться на просмотр</button>
        </div>

        <div class="col">
          <a href="#">Политика Конфиденциальности</a>
        </div>

        <div class="col">
          <span>Сайт создан</span>
          <img src="img/ui/shevery_logo.png" alt="Shevery">
        </div>

        <div class="col">© 2019 Берест</div>
      </div>
    </div>
  </div>
</div>