<header class="header">
  <div class="container">
    <h1 class="logo">
      <img class="logo__img" src="img/logo/logo.png" alt="Берест">
      <span class="visually-hidden">ООО «Берест»</span>
      <span class="visually-hidden--sm">Строительство каркасных 
домов в Москве и МО</span>
    </h1>

    <div class="header__contacts header-contacts">
      <div class="header-contacts__item header-contacts__phone">
        <a class="header-contacts__phone-link" href="tel:+7 989 333-45-44">+7 989 333-45-44</a>
      </div>

      <div class="header-contacts__item header-contacts__address">
        <a class="header-contacts__address-link" href="#">Москва, МКАД 65 км, ТД Синдика, д. 3/8</a>
      </div>
    </div>
  </div>
</header>