<section class="section reviews">
  <div class="container">
    <h2 class="section__heading">Отзывы наших клиентов</h2>
    <p>В целях анонимности, фото скрыты. Убедиться в достоверности отзывов можете в офисе. Их у нас больше 150 шт.</p>

    <div class="reviews__slider slider">
      <blockquote class="card">
        <p>
          Очень хорошие мастера! Нам нравится дом. Менеджер не соврал о надежности и уюте. У нас дети, и боялись, что будем мерзнуть зимой и переплачить за комуналку. Спасибо!
        </p>
        <footer>
          <cite>Людмила</cite>
        </footer>
      </blockquote>

      <blockquote class="card">
        <p>
          Очень хорошие мастера! Нам нравится дом. Менеджер не соврал о надежности и уюте. У нас дети, и боялись, что будем мерзнуть зимой и переплачить за комуналку. Спасибо!
        </p>
        <footer>
          <cite>Людмила</cite>
        </footer>
      </blockquote>

      <blockquote class="card">
        <p>
          Очень хорошие мастера! Нам нравится дом. Менеджер не соврал о надежности и уюте. У нас дети, и боялись, что будем мерзнуть зимой и переплачить за комуналку. Спасибо!
        </p>
        <footer>
          <cite>Людмила</cite>
        </footer>
      </blockquote>

      <blockquote class="card">
        <p>
          Очень хорошие мастера! Нам нравится дом. Менеджер не соврал о надежности и уюте. У нас дети, и боялись, что будем мерзнуть зимой и переплачить за комуналку. Спасибо!
        </p>
        <footer>
          <cite>Людмила</cite>
        </footer>
      </blockquote>
    </div>
  </div>