<section class="section steps">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2 class="section__heading">Вот как мы будем с вами работать</h2>

        <ol class="steps__list">
          <li>
            <b>Прием заявки</b>
            <span>Оставляете заявку на сайте или звоните по телефону</span>
          </li>
          <li>
            <b>Коммерческое предложение</b>
            <span>Подготавливаем КП, согласовываем цену и заключаем сделку</span>
          </li>
          <li>
            <b>Подготовка проектного решения</b>
            <span>Готовим полный набор элементов дома, с учетом изменений проекта</span>
          </li>
          <li>
            <b>Размещение в производство</b>
            <span>Отдаем проект на наше производство для подготовки домокомплекта </span>
          </li>
          <li>
            <b>Строительство</b>
            <span>Привозим домокомплект, собираем и строим ваш дом</span>
          </li>
          <li>
            <b>Гарантийное сопровождение</b>
            <span>Держим с вами связь, отвечаем на вопросы, если вдруг что-то сломалось — чиним</span>
          </li>
        </ol>
      </div>
    </div>
  </div>
</section>